@media (max-width: 768px) {
  .herotopdiv {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 2rem !important;
  }
}

@media (max-width: 768px) {
  .heroimgdiv {
    padding: 30px 20px !important;
  }
}
