.watchlist,
.outlet {
  height: 100vh !important;
}

.content {
  overflow-y: hidden;
}

.topbar,
.watchlist {
  width: 30% !important;
  padding: 0 !important;
}

.menu,
.outlet {
  width: 70% !important;
  padding: 0 !important;
}

.outlet {
  overflow: scroll;
  border: 1px solid rgba(186, 182, 182, 0.66);
  top: 0;
}

.watchlist {
  width: 30.3% !important;
}

.outlet {
  width: 69.7% !important;
}

@media (max-width: 768px) {
  .menu,
  .outlet {
    width: 100% !important;
  }
  .topbar,
  .watchlist {
    width: 0% !important;
    display: none !important;
  }
}
