.menus {
  display: flex;
  align-items: center;
  margin-left: auto; /* pushes menus to the right */
}

img {
  width: 30px;
  height: 15px;
  position: relative;
  left: 1em;
  margin-bottom: 5px;
}

.menuContainer {
  display: flex;
  justify-content: space-between;
  align-items: center; /* ensures vertical alignment */
  border: 1px solid rgba(186, 182, 182, 0.66);
  box-shadow: 0 0.1rem 1rem rgba(179, 177, 177, 0.15);
  height: 49.6px; /* fixed height for navbar */
  padding: 0 1rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 70%;
  z-index: 1000;
  background: #fafbfc;
}

@media (max-width: 768px) {
  .menuContainer {
    width: 100%;
  }
}

.menus ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menus ul li {
  padding-left: 1em;
  padding-right: 1em;
  margin: 0;
}

.links {
  color: gray;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.activeManu {
  color: #ff5722 !important;
  font-weight: 700;
  margin: 0; /*  remove margin-top */
}

.links:hover {
  color: #ff5722 !important;
}

p {
  font-size: 0.75rem;
  color: #444444 !important;
}

/* ---------------- Profile ----------------- */
.profile {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
  cursor: pointer;
}

.profile .avatar {
  width: 30px;
  height: 30px;
  font-size: 0.7rem;
  font-weight: 400;
  color: rgb(221, 139, 221);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(252, 229, 252);
  margin-right: 8px;
}

.profile .username {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0 15px 0 0; /* keep only right margin */
  display: flex;
  align-items: center; /* vertical center */
}

/* ---------------- Dropdown ---------------- */
.profileWrapper {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 250px;
  max-width: 95vw;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
  margin-top: 8px;
}

.dropdownItem {
  display: block;
  padding: 10px 18px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  background: none;
  border: none;
  text-align: left;
  font-size: 0.9rem;
}

.dropdownItem:hover {
  background-color: #f2f2f2;
}

/* Mobile hidden */
@media (max-width: 768px) {
  .hideOnMobile {
    display: none !important;
  }
}
