.topcontainer {
  border: 1px solid rgba(186, 182, 182, 0.66);
}

.insidecontainer {
  display: flex;
  width: 100%;
  min-width: 300px;
  /* border: 1px solid rgba(186, 182, 182, 0.66); */
  justify-content: center;
  align-items: center;
  margin: 0;
  box-shadow: 0 0.1rem 1rem rgba(163, 162, 162, 0.15);
  margin-top: 14px;
}

.nifty,
.sensex {
  display: flex;
}

.sensex {
  margin-left: 10px;
}

p {
  font-size: 12.7px;
}

.index {
  font-weight: 500;
  margin-right: 6px;
  color: #444444;
}

.indexPoint {
  color: #df514c !important;
  font-weight: 500;
}
.percentage {
  font-size: 10px;
  position: relative;
  top: 6px;
  margin-left: 2px;
  color: #6c757d; /* Bootstrap's muted gray color */
  font-weight: 500;
}
