.nav-link {
  margin-left: 40px;
}

body {
  padding-top: 72.8px; /* adjust depending on navbar height */
}

/* Default link style */
.custom-nav-link {
  font-weight: 500;
  color: #666666;
  transition: color 0.2s ease;
}

/*  Hover color */
.custom-nav-link:hover {
  color: #387ed1 !important;
}

/* Active page color */
.custom-nav-link.active {
  color: #387ed1 !important;
}
